.expense-tracker {
    min-height: 100vh;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 10%;
}

.form-n-expenses-wrapper {
    display: flex;
    gap: 24px;
}

.form-container {
    width: 30%;
}

.expenses-container {
    width: 70%;
}